<div class="modal modal-dialog modal-danger" id="mdl-password" style="position: absolute;">
    
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Parolayı Değiştir</h1>
        </div>
        <div class="modal-body">
            <div class="alert-danger">
                <span class="fa fa-warning"></span>
                Parola değişikliğe ilk girişten itibaren geçerli olacaktır.
            </div>
            <div class="input-group">
                <span class="input-group-addon">E Mail</span>
                <input type="text" class="form-control" value="@User.Claims.FirstOrDefault(a => a.Type.Equals("FullName")).Value" disabled=""/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Geçerli Parola*</span>
                <input type="password" id="txt-change-current-password" class="form-control" placeholder="Gecerli parolanızı girin"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Yeni Parola*</span>
                <input type="password" id="txt-new-current-password" class="form-control" placeholder="Yeni parolanızı girin"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Yeni Parola Tekrar*</span>
                <input type="password" id="txt-confirm-current-password" class="form-control" placeholder="Yeni parolayı tekrar girin"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary"><span class="fa fa-close"></span> Vazgeç</button>
            <button id="btn-change-password-yes" type="button" class="btn btn-danger"><span class="fa fa-save"></span> Parolayı Değiştir</button>
        </div>
    </div>
  
</div>