<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                
                <img src="~/Templates/Admin/Admin/dist/img/sanane.jpg" class="img-circle" />
            </div>
            <div class="pull-left info">
                <p>@User.Claims.FirstOrDefault(a=>a.Type.Equals("FullName")).Value</p>
                <a href="#"><i class="fa fa-circle text-success"></i> @User.Identity.Name</a>
            </div>
        </div>
        <!-- search form -->
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Genel İşlemler</li>
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-home"></i> <span>Anasayfa</span>
                    <span class="pull-right-container">

                    </span>
                </a>

            </li>

            @if (User.IsInRole("user"))
    {

        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Kitap Yönetimi</span>
                <span class="pull-right-container">
                    <span class="label label-primary pull-right">@await Component.InvokeAsync("Count", new { firstLater = "b" })</span>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Book/"><i class="fa fa-circle-o"></i> Tüm Kitaplar</a></li>
                <li><a href="/Book/Add"><i class="fa fa-circle-o"></i> Yeni Kitap Girişi</a></li>
                <li><a href="/Publisher/"><i class="fa fa-circle-o"></i> Yayın Evleri</a></li>
                <li><a href="/Author/"><i class="fa fa-circle-o"></i> Yazarlar</a></li>
            </ul>
        </li>


        <li class="treeview">
            <a href="#">
                <i class="fa fa-handshake-o"></i>
                <span>Kiralar</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green ">@await Component.InvokeAsync("Count", new { firstLater = "r" })</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Rent/"><i class="fa fa-circle-o"></i>Genel Bakış</a></li>
                <li><a href="/Rent/History"><i class="fa fa-circle-o"></i>Tüm Kiralar</a></li>
                <li><a href="/Rent/New"><i class="fa fa-circle-o"></i>Yeni Kira Girişi</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-address-card"></i>
                <span>Üye Yönetimi</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green ">@await Component.InvokeAsync("Count", new { firstLater = "m" })</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Member/"><i class="fa fa-circle-o"></i> Üyeler</a></li>
                <li><a href="/Member/Add"><i class="fa fa-circle-o"></i> Yeni Üye Girişi</a></li>
            </ul>
        </li>


        <li class="header">Sistem Yönetimi</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Kullanıcı Yönetimi</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green ">@await Component.InvokeAsync("Count", new { firstLater = "u" })</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/User/"><i class="fa fa-circle-o"></i> Kullanıcılar</a></li>
                <li><a href="/User/Add"><i class="fa fa-circle-o"></i> Yeni Kullanıcı Girişi</a></li>
            </ul>
        </li>
}

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>