<header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b style="font-size:11px;">NASEB</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>NASEB</b>&emsp;Library</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
             
               
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/Templates/Admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">@User.Claims.FirstOrDefault(a => a.Type.Equals("FullName")).Value</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Templates/Admin/Admin/dist/img/sanane.jpg" class="img-circle" />

                            <p>
                                @User.Claims.FirstOrDefault(a => a.Type.Equals("FullName")).Value
                                <small>@User.Identity.Name</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                    
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            @if (User.IsInRole("user"))
    {
                        <div class="pull-left">
                            <button type="button" id="btn-change-password" class="btn btn-success btn-flat"><span class="fa fa-lock"></span> Parola Değiştir</button>
                        </div>
}
                            <div class="pull-right">
                                <a href="/Account/LogOut" class="btn btn-danger btn-flat"><span class="fa fa-sign-out"></span> Çıkış</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>